/* .collapse{
    z-index: 100;
} */

.navbar-brand{
    margin-left: 21px;
    text-align: center;
}

.generic-banner .height{
    height: 340px;
    margin-bottom: 40px;
}

.nav-item{
    padding: 50px;
    padding-top: 0;
    padding-left: 0;
    border: 1px solid #f41068;
    border-radius: 20px;
}

.navbar-nav > li > a,
.navbar-nav > li > a > h6,
.navbar-brand > h6,
i{
    color:rgb(230, 230, 230)
}

.navbar-nav > li > a,
.navbar-nav > li > a
{
    margin-left: 20px;
    margin-right: 5px;
}

.navbar-brand{
    margin-right: 25px;
    margin-left: 25px;
}

.single-input, input[type="date"],
.form-select .nice-select, .form-control.padding{
    border: 1px solid #f66d9b;
    border-radius: 4px;
    padding-left: 45px;
}

.single-input:focus,input[type="date"]:focus,
.form-select:focus, .nice-select:focus,
.form-control:focus, .common-input:focus{
    border: 1px solid #f41068;
    box-shadow:  0 0 2px #f41068;
    transition: all  1s;
}

.form-select .nice-select .list{
    border: 1px solid #f41068;
    border-top: 0;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}



.col-form-label{
    color:#f41068;
    font-weight: 600 !important;
}

#user-no-dot{
    list-style: none;
}

.divide-from-top {
    margin-bottom: 50px;
}

.default-header{
    background-color: #333;
    color: white;
}

#logo{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.dropdown-item{
    font-weight: 600;
    text-transform: uppercase;
}

.dropdown-item:hover{
    color: #f41068;
}

.row.justify-content-center.settings{
    border: 1px solid #f41068;
    border-radius: 20px;
    /* background: rgb(255,228,225);
background: linear-gradient(90deg, rgba(255,228,225,1) 35%, rgba(237,135,169,1) 100%, rgba(233,147,138,1) 100%); */
}

.nav.nav-pills.col-12{
    border-bottom: 1px solid #f41068 ;
}

.nav-pills .nav-link{
    color: #f41068;
}

.nav-pills .nav-link.active{
    background-color: #f41068;
    border-radius: 20px;
}

.nav-pills .nav-link:hover{
    background-color: #f41068;
    border-radius: 20px;
    color: white;
}

.address{
    height: 300px;
    border: 1px solid #f41068;
    border-radius: 10px;
}

.btn.btn-success.btn-save{
    background-color: #f41068;
    border-color: #f41068;
}

.h-90{
    height: 90%;
}

.input-group-icon .icon {
    left: 35px;
}

.card-header{
    background: #f41068;
    color: white;
}

.card-title{
    color: #f41068;
}

.card-footer.custom{
    background: #f41068;
    color: white;
}

.genric-btn.primary.circle.arrow{
    margin: 0px;
}

.genric-btn.primary.circle.arrow:hover{
    background: #f41068;
    color: white;
}

.section-top-border{
    padding: 40px;
}

.user-card{
    height: 40px;
}

.user-card:last-child{
    margin-bottom: 80px;
}





/* Colore del banner */

/* {
    background-image: -moz-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
    background-image: -webkit-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
    background-image: -ms-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
  } */